@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins:wght@500;700&family=Rubik:wght@400;500;700&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 100%;
    min-height: 100dvh;
    font-family: 'Rubik', 'Poppins', 'Manrope', sans-serif;
    font-size: 1.8rem;
    line-height: 1.6;
    color: hsl(0, 0%, 17%);
}

/* Page container */
.page-container {
    min-height: 100vh;
    min-width: 375px;
    max-width: 1920px;
    margin: 0 auto;
}

/* Header top */
.header-top {
    height: 36vh;
    min-height: 300px;
    background: url("./images/pattern-bg-mobile.png") no-repeat center center / cover;
    position: relative;
}

/* Logo text */
.logo {
    font-size: 2.6rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

/* Form */
.form {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

input[type="text"] {
    width: 82%;
    padding: 1.5rem 2.3rem;
    border: none;
    outline: none;
    border-radius: 15px 0 0 15px;
    font-size: 1.6rem;
    color: inherit;
}

.submit-btn {
    width: 18%;
    padding: 1.5rem;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #000;
    color: #fff;
    font-size: inherit;
    font-weight: bolder;
}

/* Location info card */
.location-info-card {
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 999;
    animation: opacity-animation .5s ease;
}

.info-card-inner-ctr {
    padding: 1rem;
}

.info-card-inner-ctr h4 {
    font-weight: 500;
}

.label {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(0, 0%, 59%);
    letter-spacing: .1rem;
}

/* Main */
.main {
    min-height: 64vh;
    background-color: hsl(0, 0%, 60%);
}

/* Map */
.map {
    width: 100%;
    height: 64vh;
    animation: opacity-animation 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utility classes */
.desktop-only {
    display: none;
}

.error-placeholder::-webkit-input-placeholder {
    color: red;
    font-style: italic;
    font-size: 1.4rem;
}
  
.loader {
    font-size: 10px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    animation: mulShdSpin 1.1s infinite ease;
}

/* Animation keyframes */
@keyframes opacity-animation {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .header-top {
        background: url("./images/pattern-bg-desktop.png") no-repeat center center / cover;
    }

    .logo {
        font-size: 3.4rem;
    }

    .form, .location-info-card {
        max-width: 650px;
    }

    input[type="text"] {
        width: 85%;
        /* padding: 1.6rem 1.9rem; */
        font-size: inherit;
    }
    
    .submit-btn {
        width: 15%;
        /* padding: 1.8rem; */
    }

    .label {
        font-size: 1.1rem;
    }

    .info-card-inner-ctr h4 {
        font-size: 2rem;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    input[type="text"]:hover {
        cursor: pointer;
    }

    .submit-btn:hover {
        background-color: hsl(0, 0%, 17%);
        cursor: pointer;
    }

    .location-info-card {
        max-width: 82%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        text-align: left;
        padding: 3rem 2rem;
    }

    .info-card-inner-ctr {
        width: 25%;
        display: flex;
        align-items: stretch;
    }

    .split-line {
        display: block;
        height: 80%;
        width: 1.5px;
        background-color: hsl(0, 0%, 80%);
        align-self: center;
    }

    .label {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    
    .info-card-inner-ctr h4 {
        font-size: 2.4rem;
    }

    /* Utility classes */
    .mg-right {
        margin-right: 3rem;
    }
}

